/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/06/2017, 20:31:54
    Author     : Pierre
*/

.contenedorUsuario{
                display: block;
                width: 90%;
                padding: 20px;
                margin-top: 10px;
                margin: auto;
                
     }
            .usuario{
                margin-top: 20px;
                border-bottom: 2px solid gray;
            }
            .fotoUsuario,.infoUsuario,.opciones{
                display: inline-block;
                vertical-align: top;
            }
            .infoUsuario{
                
                width: 25%;
                
            }
            .infoUsuario span{
                margin-left: 20px;
                font-weight: bold;
                padding: 10px;
                
            }
            .opciones{
                width: 40%;
            }
            .opciones a{
                color: white;
                text-decoration: none;
                padding: 7px;
                background: #24292e;
                font-weight: bold;
                border-radius: 3px;
            }