/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2017, 12:44:38 PM
    Author     : Yamilet Cisneros
*/

/*selector universal*/
*{
    margin: 0;
}
.logo{
    text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	background: rgb(229, 255, 231); 
	font-size: 1em;
	line-height: 1.5em;
}
h1{
    color: #007cba;
}
.cabecera, .barra-navegacion, h1{
    background-color: white;
    display:block;

}
.barra-navegacion{
    background: #24292e;
    height: 50px;
    margin: 0;
    padding-top: 5px;
}

.item{
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none; 
}

.btDesplegable{
    margin-left: 30px;
}
.item,.btDesplegable{
    border-radius: 10px;
    background-color: #007cff;
    text-decoration:none;   
    border-radius: 10px;
}

/*#reportes{
    visibility: hidden;
}
#facturacion{
    visibility: hidden;
}
#usuarios{
    visibility: hidden;
}*/
#login,#cesta{
    float: right;
}
#login{
    margin-right: 2%;
    margin-bottom: 3%;
}

#cesta{
    margin-right: 10px;
}

footer{
    display: block;
    background: black;
    text-align: center;
    color: #4CAF50;
    margin-top: 170px;
}

div.pie-fin{
    background: black;
}
.inicio{
    background: rgb(229, 255, 231);
    box-shadow: 0 1px 2px rgb(0,0,0.02);
}
/**/
/*Boton Deslizable */
.btDesplegable {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.desplegar {
    position: relative;
    display: inline-block;
}

.contenDesple {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    border-radius: 10px;
}

.contenDesple a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#form-registro{
    margin: 30px;
    width: 20%;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 3px 3px black;
    border: 2px solid black;
    border-radius: 10px;
}

.contenDesple a:hover {
    background-color: #f1f1f1
}

.desplegar:hover .contenDesple {
    display: block;
}

.desplegar:hover .btDesplegable {
    background-color: lightsteelblue;
}

.principal,secundaria{
    background-color: white;
    text-align: center;
}

.combo{
    border:1px solid #DBE1EB;
    border-radius: 4px;
} 

.item:hover{
    background: lightsteelblue;
}
.contenedorProductos{
    display: block;
    justify-content: center;
    border-radius: 4px;
    height: auto;
    align-content: center;
    margin-left: 2%;
    width: 74%;
    box-shadow: 0px 2px 3px gray;
    margin-bottom: 0px;
    margin-right: 10%;
    margin-left: 10%;
    background: white;

}
td{
    width: 350px;
}
#contenedor{
    display: inline-block;
    margin-top: 20px;
    width: 74%;
    box-shadow: 0px 2px 3px gray;
    margin-bottom: 0px;
    margin-right: 2%;
    margin-left: 2%;
    background: white;
}

#barraLateral{
    margin-top: 20px;
    display: inline-block;
    width: 20%;
    box-shadow: 0px 2px 3px gray;
    position: absolute;
    margin-right: 2%;
    background: white;
}

form{
    margin: 30px;
}

.contenedor{
    display: block;
    margin-top: 20px;
    width: 90%;
    box-shadow: 0px 2px 3px gray;
    margin-bottom: 0px;
    margin-right: 2%;
    margin-left: 2%;
    background: white;
}
 
#contenedor, #barraLateral, .contenedor-fact{
        margin-top: 20px;
        display: inline-block;
        box-shadow: 0px 2px 3px gray;
        margin-right: 2%;
        border-radius: 4px;
}
.contenedor-fact{
    display: block;
    height: 350px;
    width: auto;
    background: white;
}

#contenedor{   
    width: 74%;
    margin-bottom: 0px;
    margin-left: 2%;
}

#barraLateral{
    width: 20%;
    position: absolute;
}

#barraLateral h3{
    text-align: center;
}
form{
    margin: 30px;
}
input{
    width: 100%;
}

.btRadio{
    width: 10px;
    display: inline-block;
}
.botonForm{
    margin-top: 20px;
    padding: 8px;
    
    border-radius: 5px;
    background-color: #007cff;
    color: white;
}

.botonForm:hover{
    background-color: #24292e;
}
.contenedorReporte{
    display: block;
    justify-content: center;
    border-radius: 4px;
    height: auto;
    align-content: center;
    margin-left: 2%;
    width: 74%;
    box-shadow: 0px 2px 3px gray;
    margin-bottom: 0px;
    margin-right: 10%;
    margin-left: 10%;
    background: white;

}

#contenedor_anadir_cesta{
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid black;
}
#form_anadir_cesta{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

#form_anadir_cesta label,#form_anadir_cesta input{
    margin: 2px;
 
}

#form_anadir_cesta #bt_submit{
    width: 100%;
}